header 
  a(href="/").header_logo
    i.fab.fa-youtube
    p.word &nbsp;WeTube
  nav 
    ul
      li 
        a(href="/search")
          i.fas.fa-search
      if loggedIn
        li 
          a(href="/videos/upload") Upload Video
        li 
          a(href="/users/edit") Edit Profile
        li 
          a(href="/users/logout") Log out
        li
          a(href=`/users/${loggedInUser._id}`)
            if loggedInUser === ""
              span 😀
            else 
              if loggedInUser.socialOnly
                img(src=loggedInUser.avatarUrl).header_avatar
              else
                img(src="/" + loggedInUser.avatarUrl).header_avatar
      else 
        li 
          a(href="/login") Login
        li 
          a(href="/join").header_btn Join
      